 <style>
        
			/* background color to the top navigation */
				.topNav {
				background-color: #800000;
				overflow: hidden;
				text-align: center;
				}

			/*location of navication text*/
				.navAnchor{
				text-align: center;
				}

			/* text color of top navigation */
				.topNav a {
				color: #f2f2f2;
				text-align: center;
				padding: 5px 5px;
				text-decoration: none;
				font-size: 15px;
				}

			/* olor of links when hover */
				.topNav a:hover {
				background-color: #c0c0c0;
				color: black;
				}

			/* highlight current link */
				.topNav a.active {
				background-color: #b22222;
				color: white;
				}

			/*School Banner*/

				img.banner {
					align:left;
					width: 40%;
					height: auto;
				}

</style>